@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Oswald:wght@700&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  width: 386px;
  background: #565b62;
}


.itemlink {
  background: #3f81e5;
  color: white;
  border: 1px solid #3f81e5;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: #3f81e5;
  text-decoration: none;
}

#delete-btn {
  background: white;
  color: #3f81e5;
}

button:hover {
  background: #609440;
}

#delete-btn:hover {
  background: rgba(255, 0, 0, 0.87);
}

#tab-btn:hover {
  background: rgb(104, 231, 193);
}

a:hover {
  color: #609440;
}


.listContent {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
  flex-direction: column;
  align-items: start;
}

.inputValue {
  width: 100%;
  padding: 10px;
  border: 1px solid #f1f1f1;
}

.btn {
  width: 100%;
  background-color: #f6f6f6;
  color: #b0b0b0;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

span {
  content: "\22EE";
  cursor: pointer;
  width: 20px;
}

span:hover {
  color: #b0b0b0;
}

h1 {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.todoPlaceholder {
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  max-width: 386;
  box-shadow: 14px 3px 19px 7px rgba(239, 238, 238, 0.86);
  -webkit-box-shadow: 14px 3px 19px 7px rgba(239, 238, 238, 0.86);
  -moz-box-shadow: 14px 3px 19px 7px rgba(239, 238, 238, 0.86);
}

#description {
  border: none;
  width: 70%;
  margin-right: 5px;
}

#description:focus {
  border: 0;
}

.edition {
  /* visibility: hidden; */
  display: none;
}

.leLien {
  width: 200px;
}

legend a {
  font-size: 15px;
  text-decoration: none;
}

legend {
  width: 40% !important;
}

fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
